# git
*
!.gitignore

# autotools and build files
!.travis.yml
!AUTHORS
!ChangeLog
!configure.ac
!configure
!CONTRIBUTING.md
!COPYING
!INSTALL
!LICENSE
!LICENSES
!Makefile.am
!Makefile.in
!NEWS
!README*
!TODO
!build-aux/
build-aux/*
!build-aux/compile
!build-aux/depcomp
!build-aux/install-sh
!build-aux/missing

# binary assets
!assets/
assets/*
!assets/COPYING.fonts
!assets/histogram_gradient.bmp
!assets/LICENSES.assets
!assets/loop_gradient.argb.bmp
!assets/Purisa.ttf
!assets/README.md
!assets/scope_gradient.bmp

# debian packaging
!debian/
debian/*
!debian/changelog
!debian/compat
!debian/control
!debian/copyright
!debian/gbp.conf
!debian/loopidity.manpages
!debian/rules
!debian/watch
!debian/patches/
debian/patches/*
!debian/patches/remove-fonts
!debian/patches/series
!debian/source/
debian/source/*
!debian/source/format

# documentation
!doc/
doc/*
!doc/buffer-layout.txt
!doc/loopidity.1

# obs packaging
!obs/
obs/*
!obs/debian.changelog
!obs/debian.compat
!obs/debian.control
!obs/debian.copyright
!obs/debian.rules
!obs/loopidity-Debian_8.0.dsc.in
!obs/loopidity.dsc.in
!obs/loopidity.spec.in
!obs/PKGBUILD.in
!obs/README.md
!obs/_service.in

# sources
!src/
src/*
!src/constants/
src/constants/*
!src/constants/controller_constants.h
!src/constants/feature_constants.h
!src/constants/scene_constants.h
!src/constants/view_constants.h
!src/jack_io.cpp
!src/jack_io.h
!src/loopidity.cpp
!src/loopidity.h
!src/loopidity_sdl.cpp
!src/loopidity_sdl.h
!src/main.cpp
!src/scene.cpp
!src/scene.h
!src/scene_sdl.cpp
!src/scene_sdl.h
!src/trace/
src/trace/*
!src/trace/trace.cpp
!src/trace/trace.h
